body{
background-color: rgb(80, 73, 66);
font-family: sans-serif;
}

img {
    border-radius: 20px;
}

.cajaPrincipal{
    display: flex;
    background-color: orange;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajaTarjeta{
    background-color: aliceblue;
    width: 30%;
    border-radius: 20px;
    min-width: 300px;
}

.cajaTexto{
    background-color: lightcoral;
    display: flex;
    overflow: auto;
    height: 200px;
}

h2{
    background-color: greenyellow;
}
.textosColumna{
    background-color: lightblue;
    width: 50%;
}